<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.diabetescontrol.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-sdk android:minSdkVersion="10" />

    
    <application
        android:icon="@drawable/iv"
        android:label="@string/app_name" >
        <activity
            android:name=".ListaGlicoseValoresActivity"
            android:theme="@style/MapBackground" />
        <activity
            android:name=".ListaGlicoseUltimosRegistrosActivity"
            android:theme="@style/MapBackground" />
        <activity
            android:name=".PreferenciasActivity"
            android:theme="@style/MapBackground" />
        <activity
            android:name=".ConsultaGlicoseValoresActivity"
            android:theme="@style/MapBackground" />
        <activity
            android:name=".cadastroRegistroActivity"
            android:theme="@style/MapBackground" />
        <activity
            android:name=".ListaRegistrosMedicosActivity"
        	android:theme="@style/MapBackground" />
        <activity
            android:name=".consultaRegistroDiaActivity"
            android:theme="@style/MapBackgroundNoTitle" />
        <activity
            android:name=".consultaGlicoseMediasActivity"
            android:theme="@style/MapBackgroundNoTitle" />
        <activity
            android:name=".graficosActivity"
            android:theme="@style/MapBackgroundNoTitle" />
        <activity
            android:name=".testeWSActivity"
            android:theme="@style/MapBackgroundNoTitle" />
        <activity
            android:name=".ListaRegistroActivity"
            android:theme="@style/MapBackgroundNoTitle" />
        <activity
            android:name=".ListaPacientesActivity"
            android:theme="@style/MapBackground" />
        <activity
            android:name=".consultaActivity"
            android:theme="@style/MapBackground" >
            <intent-filter>
                <action android:name="com.ptandroid.tutorial.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.diabetescontrol.principal.PrincipalActivity"
            android:label="@string/app_name"
            android:theme="@style/MapBackground" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>